<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Upscaler</title>
    <link rel="stylesheet" href="../static/CSS/style.css">

  </head>
  <body>
    <div class="container">
      <h1>Image Upscaler</h1>

      <form id="upload-form">
        <div class="drop-area" id="drop-area">
          <b>Click to Upload Image</b>
          <input
            type="file"
            id="file-input"
            name="image"
            accept="image/*"
            required
          />
        </div>

        <p class="status-msg" id="status-msg"></p>
        <select name="scale" id="scale">
          <option value="2">Upscale 2x</option>
          <option value="4">Upscale 4x</option>
        </select>

        <button type="submit">Upscale Image</button>
      </form>

      <div class="loader" id="loader"></div>

      <div class="result" id="result">
        <div>
          <h3>Original Image</h3>
          <img id="original-img" src="" />
        </div>
        <div>
          <!-- <h3>Upscaled</h3> -->
          <h3 id="upscaled-title">Upscaled</h3>
          <img id="upscaled-img" src="" />
          <a id="download-btn" href="#" download>Download Upscaled</a>
        </div>
      </div>
    </div>

    <script src="../static/Script_JS/script.js"></script>

  </body>
</html>
